<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dummy_black.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,624},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{456,624},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>dummy_white.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,800},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,800},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>white_line_overay.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,796},{18,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,796},{18,16}}</string>
			<key>sourceSize</key>
			<string>{18,16}</string>
		</dict>
		<key>guild_alert_ef_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,864},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{384,864},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>guild_alert_ef_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,736},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{384,736},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>guild_alert_ef_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,864},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{272,864},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>guild_alert_ef_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,736},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{272,736},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>guild_alert_ef_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,864},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{144,864},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>guild_alert_ef_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,736},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{144,736},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>enemy_icon_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,672},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{384,672},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>cmn_red_action_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{752,736},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{752,736},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>cmn_red_action_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{912,768},{112,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{912,768},{112,112}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>dummy_alpha.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,0},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{992,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>mm_finger_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,800},{64,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{768,800},{64,48}}</string>
			<key>sourceSize</key>
			<string>{64,48}</string>
		</dict>
		<key>mm_info_notice_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,880},{464,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{528,880},{464,144}}</string>
			<key>sourceSize</key>
			<string>{464,144}</string>
		</dict>
		<key>res_circle_center.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,528},{16,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{416,528},{16,80}}</string>
			<key>sourceSize</key>
			<string>{16,80}</string>
		</dict>
		<key>res_circle_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,528},{32,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{432,528},{32,80}}</string>
			<key>sourceSize</key>
			<string>{32,80}</string>
		</dict>
		<key>res_circle_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,528},{32,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{384,528},{32,80}}</string>
			<key>sourceSize</key>
			<string>{32,80}</string>
		</dict>
		<key>res_circle_new.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,528},{128,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{464,528},{128,80}}</string>
			<key>sourceSize</key>
			<string>{128,80}</string>
		</dict>
		<key>cmn_gacha_slot.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,672},{128,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{496,672},{128,144}}</string>
			<key>sourceSize</key>
			<string>{128,144}</string>
		</dict>
		<key>cmn_gacha_point.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,688},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{464,688},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>cmn_icon_back.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,126},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>cmn_button_redbig_n.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,392},{144,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{712,392},{144,144}}</string>
			<key>sourceSize</key>
			<string>{144,144}</string>
		</dict>
		<key>cmn_button_redbig_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,392},{144,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{872,392},{144,144}}</string>
			<key>sourceSize</key>
			<string>{144,144}</string>
		</dict>
		<key>cmn_button_grayout_n.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,256},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{256,256},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>cmn_button_yellow_n.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,256},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{384,256},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>cmn_button_yellow_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,256},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{512,256},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>cmn_button_gray_n.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>cmn_button_gray_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,0},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>cmn_button_green_n.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,128},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,128},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>cmn_button_green_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,128},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128,128},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>cmn_button_blue_n.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,256},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{640,256},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>cmn_button_blue_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,256},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{768,256},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>cmn_button_orange_n.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,256},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,256},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>cmn_button_orange_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,256},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128,256},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>cmn_button_red_n.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,128},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{256,128},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>cmn_button_red_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,128},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{384,128},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>cmn_status_menu.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,176},{128,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{672,176},{128,80}}</string>
			<key>sourceSize</key>
			<string>{128,80}</string>
		</dict>
		<key>cmn_menu_frame_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,80},{144,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{856,80},{144,104}}</string>
			<key>sourceSize</key>
			<string>{144,104}</string>
		</dict>
		<key>cmn_menu_frame_n.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,80},{144,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{664,80},{144,104}}</string>
			<key>sourceSize</key>
			<string>{144,104}</string>
		</dict>
		<key>cmn_status_card.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,648},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{144,648},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>cmn_status_friend.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,648},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{272,648},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>cmn_status_frame_n.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,528},{128,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128,528},{128,104}}</string>
			<key>sourceSize</key>
			<string>{128,104}</string>
		</dict>
		<key>cmn_status_frame_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,528},{128,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{256,528},{128,104}}</string>
			<key>sourceSize</key>
			<string>{128,104}</string>
		</dict>
		<key>cmn_status_level_frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,560},{192,208}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{832,560},{192,208}}</string>
			<key>sourceSize</key>
			<string>{192,208}</string>
		</dict>
		<key>status_bc_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,496},{180,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{424,496},{180,16}}</string>
			<key>sourceSize</key>
			<string>{180,16}</string>
		</dict>
		<key>status_bc.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,384},{224,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{408,384},{224,96}}</string>
			<key>sourceSize</key>
			<string>{224,96}</string>
		</dict>
		<key>status_ap_sign_glow.png</key>
		<dict>
			<key>frame</key>
			<string>{{592,544},{224,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{592,544},{224,32}}</string>
			<key>sourceSize</key>
			<string>{224,32}</string>
		</dict>
		<key>status_ap_sign_line.png</key>
		<dict>
			<key>frame</key>
			<string>{{592,576},{224,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{592,576},{224,32}}</string>
			<key>sourceSize</key>
			<string>{224,32}</string>
		</dict>
		<key>status_ap_bar.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,496},{180,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{152,496},{180,16}}</string>
			<key>sourceSize</key>
			<string>{180,16}</string>
		</dict>
		<key>status_ap.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,384},{272,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128,384},{272,96}}</string>
			<key>sourceSize</key>
			<string>{272,96}</string>
		</dict>
		<key>sample_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,128},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{256,128},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>sample_red_button.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,128},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{256,128},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>cmn_icon_item.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,826},{32,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,46}}</string>
			<key>sourceSize</key>
			<string>{32,46}</string>
		</dict>
		<key>cmn_item_text.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,836},{100,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,32}}</string>
			<key>sourceSize</key>
			<string>{100,32}</string>
		</dict>
		<key>ｍessage_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,4},{294,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,118}}</string>
			<key>sourceSize</key>
			<string>{294,118}</string>
		</dict>
		<key>ｍessage_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,394},{120,294}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,294}}</string>
			<key>sourceSize</key>
			<string>{120,294}</string>
		</dict>
	    <key>Bonus.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,710},{120,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,54}}</string>
			<key>sourceSize</key>
			<string>{120,54}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>1000_common_button_.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:536bb7041136b1875446bb42863ce24d$</string>
		<key>textureFileName</key>
		<string>1000_common_button_.png</string>
	</dict>
</dict>
</plist>
