<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>message1.png</key>
		<dict>
			<key>frame</key>
			<string>{{5,5},{288,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,5},{288,112}}</string>
			<key>sourceSize</key>
			<string>{288,112}</string>
		</dict>
		<key>message2.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,5},{288,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{299,5},{288,112}}</string>
			<key>sourceSize</key>
			<string>{288,112}</string>
		</dict>
		<key>message3.png</key>
		<dict>
			<key>frame</key>
			<string>{{5,129},{288,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,129},{288,112}}</string>
			<key>sourceSize</key>
			<string>{288,144}</string>
		</dict>
		<key>message4.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,129},{288,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,129},{288,112}}</string>
			<key>sourceSize</key>
			<string>{288,112}</string>
		</dict>
		<key>message5.png</key>
		<dict>
			<key>frame</key>
			<string>{{592,5},{288,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{592,5},{288,112}}</string>
			<key>sourceSize</key>
			<string>{288,112}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>1000_common_button_2.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:536bb7041136b1875446bb42863ce24d$</string>
		<key>textureFileName</key>
		<string>1000_common_button_2.png</string>
	</dict>
</dict>
</plist>
