<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>window_frame_dummy_all.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{304,416},{48,48}}</string>
			<key>frame</key>
			<string>{{304,416},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>red_btn_gray.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{288,192},{240,96}}</string>
			<key>frame</key>
			<string>{{288,192},{240,96}}</string>
			<key>sourceSize</key>
			<string>{240,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>window_frame_all.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,288}}</string>
			<key>frame</key>
			<string>{{0,0},{288,288}}</string>
			<key>sourceSize</key>
			<string>{288,288}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>window_message_send_l0_0 - 2.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{768,64}}</string>
			<key>frame</key>
			<string>{{0,304},{768,64}}</string>
			<key>sourceSize</key>
			<string>{768,64}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>large_red_btn_normal_l0_1.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>frame</key>
			<string>{{480,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>blue_btn_normal_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,128}}</string>
			<key>frame</key>
			<string>{{832,0},{192,128}}</string>
			<key>sourceSize</key>
			<string>{192,128}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>label_web_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,48}}</string>
			<key>frame</key>
			<string>{{528,192},{240,48}}</string>
			<key>sourceSize</key>
			<string>{240,48}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>window_black_base_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{768,128}}</string>
			<key>frame</key>
			<string>{{0,368},{768,128}}</string>
			<key>sourceSize</key>
			<string>{768,128}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>label_check_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,48}}</string>
			<key>frame</key>
			<string>{{800,352},{208,48}}</string>
			<key>sourceSize</key>
			<string>{208,48}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>window_like_input_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{768,128}}</string>
			<key>frame</key>
			<string>{{0,496},{768,128}}</string>
			<key>sourceSize</key>
			<string>{768,128}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>window_bottom_left_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>frame</key>
			<string>{{0,192},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>large_red_btn_push_l0_2.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,96}}</string>
			<key>frame</key>
			<string>{{336,96},{144,96}}</string>
			<key>sourceSize</key>
			<string>{144,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>comment_window__whitel0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{768,144}}</string>
			<key>frame</key>
			<string>{{0,816},{768,144}}</string>
			<key>sourceSize</key>
			<string>{768,144}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>message_yes_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,96}}</string>
			<key>frame</key>
			<string>{{528,96},{240,96}}</string>
			<key>sourceSize</key>
			<string>{240,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>large_red_btn_push_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>frame</key>
			<string>{{288,96},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>large_red_btn_normal_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>frame</key>
			<string>{{288,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>label_send_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,48}}</string>
			<key>frame</key>
			<string>{{800,448},{208,48}}</string>
			<key>sourceSize</key>
			<string>{208,48}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>window_top_center_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>frame</key>
			<string>{{96,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>red_btn_select_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,96}}</string>
			<key>frame</key>
			<string>{{288,96},{240,96}}</string>
			<key>sourceSize</key>
			<string>{240,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>red_btn_normal_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,96}}</string>
			<key>frame</key>
			<string>{{288,0},{240,96}}</string>
			<key>sourceSize</key>
			<string>{240,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>blue_btn_long_select_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,80}}</string>
			<key>frame</key>
			<string>{{784,768},{240,80}}</string>
			<key>sourceSize</key>
			<string>{240,80}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>window_top_left_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>frame</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>window_middle_left_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>frame</key>
			<string>{{0,96},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>window_bottom_right_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>frame</key>
			<string>{{192,192},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>window_bottom_center_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>frame</key>
			<string>{{96,192},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>window_message_input_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{768,128}}</string>
			<key>frame</key>
			<string>{{0,624},{768,128}}</string>
			<key>sourceSize</key>
			<string>{768,128}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>label_cancel_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,48}}</string>
			<key>frame</key>
			<string>{{800,304},{208,48}}</string>
			<key>sourceSize</key>
			<string>{208,48}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>large_red_btn_normal_l0_2.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,96}}</string>
			<key>frame</key>
			<string>{{336,0},{144,96}}</string>
			<key>sourceSize</key>
			<string>{144,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>window_middle_center_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>frame</key>
			<string>{{96,96},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>blue_btn_select_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,128}}</string>
			<key>frame</key>
			<string>{{832,128},{192,128}}</string>
			<key>sourceSize</key>
			<string>{192,128}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>label_message_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{448,64}}</string>
			<key>frame</key>
			<string>{{160,304},{448,64}}</string>
			<key>sourceSize</key>
			<string>{448,64}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>large_red_btn_push_l0_1.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>frame</key>
			<string>{{480,96},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>label_app_store_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,48}}</string>
			<key>frame</key>
			<string>{{528,240},{240,48}}</string>
			<key>sourceSize</key>
			<string>{240,48}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>window_top_right_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>frame</key>
			<string>{{192,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>window_message_update_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{768,64}}</string>
			<key>frame</key>
			<string>{{0,752},{768,64}}</string>
			<key>sourceSize</key>
			<string>{768,64}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>window_middle_right_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>frame</key>
			<string>{{192,96},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>blue_btn_long_gray_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,80}}</string>
			<key>frame</key>
			<string>{{784,848},{240,80}}</string>
			<key>sourceSize</key>
			<string>{240,80}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>label_fix_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,48}}</string>
			<key>frame</key>
			<string>{{800,400},{208,48}}</string>
			<key>sourceSize</key>
			<string>{208,48}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>blue_btn_long_normal_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,80}}</string>
			<key>frame</key>
			<string>{{784,688},{240,80}}</string>
			<key>sourceSize</key>
			<string>{240,80}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>message_no_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,96}}</string>
			<key>frame</key>
			<string>{{528,0},{240,96}}</string>
			<key>sourceSize</key>
			<string>{240,96}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>label_update_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,48}}</string>
			<key>frame</key>
			<string>{{784,496},{240,48}}</string>
			<key>sourceSize</key>
			<string>{240,48}</string>
			<key>rotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>cmn_window.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>cmn_window.png</string>
	</dict>
</dict>
</plist>
