<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>finger_under.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>frame</key>
			<string>{{388,160},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>loading0_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,64}}</string>
			<key>frame</key>
			<string>{{52,0},{204,64}}</string>
			<key>sourceSize</key>
			<string>{204,64}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>dl_circke_03.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>frame</key>
			<string>{{0,70},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>hamon_big.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>frame</key>
			<string>{{64,240},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>dl_circke_04.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>frame</key>
			<string>{{256,70},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>loading1_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,64}}</string>
			<key>frame</key>
			<string>{{308,0},{204,64}}</string>
			<key>sourceSize</key>
			<string>{204,64}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>hamon_small.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,24}}</string>
			<key>frame</key>
			<string>{{364,208},{64,24}}</string>
			<key>sourceSize</key>
			<string>{64,24}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>touch_screen.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{356,36}}</string>
			<key>frame</key>
			<string>{{0,192},{356,36}}</string>
			<key>sourceSize</key>
			<string>{356,36}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>loading2_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,64}}</string>
			<key>frame</key>
			<string>{{52,64},{204,64}}</string>
			<key>sourceSize</key>
			<string>{204,64}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>loading_wait_l4_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,64}}</string>
			<key>frame</key>
			<string>{{288,128},{32,64}}</string>
			<key>sourceSize</key>
			<string>{32,64}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>bar0_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,32}}</string>
			<key>frame</key>
			<string>{{0,128},{288,32}}</string>
			<key>sourceSize</key>
			<string>{288,32}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>bar1_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{16,168},{256,10}}</string>
			<key>frame</key>
			<string>{{16,168},{256,10}}</string>
			<key>sourceSize</key>
			<string>{256,10}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>loading3_l0_0.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,64}}</string>
			<key>frame</key>
			<string>{{308,64},{204,64}}</string>
			<key>sourceSize</key>
			<string>{204,64}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>dl_circke_01.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>frame</key>
			<string>{{0,6},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>finger_right.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>frame</key>
			<string>{{0,240},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
			<key>rotated</key>
			<false/>
		</dict>
		<key>dl_circke_02.png</key>
		<dict>
			<key>offset</key>
			<string>{0,0}</string>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>frame</key>
			<string>{{256,6},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
			<key>rotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>cmn_loading.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>cmn_loading.png</string>
	</dict>
</dict>
</plist>
