<?xml version"1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scroll_bar_l0_0.png</key>
		<dict>
                <key>frame</key>
                <string>{{976,0},{16,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,640}}</string>
                <key>sourceSize</key>
                <string>{16,640}</string>
            </dict>
            <key>scroll_bar_whitel0_0.png</key>
		<dict>
                <key>frame</key>
                <string>{{1010,0},{16,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,640}}</string>
                <key>sourceSize</key>
                <string>{16,640}</string>
            </dict>
            <key>window_large_l0_0.png</key>
		<dict>
                <key>frame</key>
                <string>{{0,80},{960,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,112}}</string>
                <key>sourceSize</key>
                <string>{960,112}</string>
            </dict>
            <key>window_push_l0_0.png</key>
		<dict>
                <key>frame</key>
                <string>{{172,672},{616,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,68}}</string>
                <key>sourceSize</key>
                <string>{616,68}</string>
            </dict>
            <key>window_sharp_l0_0.png</key>
		<dict>
                <key>frame</key>
                <string>{{0,0},{960,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,80}}</string>
                <key>sourceSize</key>
                <string>{960,80}</string>
            </dict>
            <key>window_ticker_l0_0.png</key>
		<dict>
                <key>frame</key>
                <string>{{0,560},{960,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,96}}</string>
                <key>sourceSize</key>
                <string>{960,96}</string>
            </dict>
            <key>word_buy_cp_l0_0.png</key>
		<dict>
                <key>frame</key>
                <string>{{0,400},{672,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,48}}</string>
                <key>sourceSize</key>
                <string>{672,48}</string>
            </dict>
            <key>word_friend_l0_0.png</key>
		<dict>
                <key>frame</key>
                <string>{{0,448},{672,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,48}}</string>
                <key>sourceSize</key>
                <string>{672,48}</string>
            </dict>
            <key>word_input_id_and_pass_l0_0.png</key>
		<dict>
                <key>frame</key>
                <string>{{0,256},{672,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,48}}</string>
                <key>sourceSize</key>
                <string>{672,48}</string>
            </dict>
            <key>word_invite_l0_0.png</key>
		<dict>
                <key>frame</key>
                <string>{{0,496},{672,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,48}}</string>
                <key>sourceSize</key>
                <string>{672,48}</string>
            </dict>
            <key>word_select_belief_l0_0.png</key>
		<dict>
                <key>frame</key>
                <string>{{0,304},{672,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,48}}</string>
                <key>sourceSize</key>
                <string>{672,48}</string>
            </dict>
            <key>word_your_name_l0_0.png</key>
		<dict>
                <key>frame</key>
                <string>{{0,352},{672,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,48}}</string>
                <key>sourceSize</key>
                <string>{672,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cmn_header.png</string>
            <key>size</key>
            <string>{1024,752}</string>
            <key>textureFileName</key>
            <string>cmn_header.png</string>
        </dict>
    </dict>
</plist>